<div class="centrar">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../../assets/yo.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Presentacion</h5>
          <p class="card-text">Mi nombre es Michael Dylan Ramos Benítez, actualmente estudio la carrera de Ingeniería en sistemas computacionales, y estoy cursando la materia de Servicios Web en Dispositivos Móviles y Lenguajes de Interfaz</p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
</div>
</div>

<div class="centrar">
    <div class="card" style="width: 18rem;">
        <div class="card-body bg-black">
        <h5 class="card-title text-center text-light">Videojuegos</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Subtítulo de la tarjeta</h6> -->
        <p class="card-text text-center text-light">Mi pasatiempo favorito es jugar videojuegos ya que es algo que me gusta mucho, actualmente mi juego favorito de mundo abierto es Elden Ring, ya que es un juego con muchos retos y muy interesante</p>
        </div>
    </div>

    <div class="centrar">
      <div class="card" style="width: 18rem;">
          <div class="card-body bg-black">
          <h5 class="card-title text-center text-light">Anime</h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Subtítulo de la tarjeta</h6> -->
          <p class="card-text text-center text-light">Otro de mis pasatiempos favoritos es ver Anime, mi anime favorito es Bleach, ya que fue uno de los primeros animes que veía cuando era pequeño y fue uno de los cuales me empezo a gustar y llamar más la atención el anime</p>
          </div>
      </div>

</div>